<nav class="white " role="navigation">
    <div class="nav-wrapper container" style="z-index: 99999;">
        <a id="logo-container" href="/" class="brand-logo">為道為術</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/hot">熱門</a></li>
            <li><a href="/tags">標籤</a></li>
            <li><a href="/about">關於</a></li>
            <li><a href="/search">
                    <i class="material-icons right">search</i>
                </a></li>
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger" style="z-index: 99999;">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>