<!-- Include stylesheet -->
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

<!-- Create the editor container -->
<div class="container" style="overflow-y: auto; padding-top: 40px; padding-bottom: 40px;">
    <form action="articles" method="post">
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="輸入標題" id="first_name" type="text" class="validate">
                <label for="first_name">標題</label>
            </div>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea class="materialize-textarea"></textarea>
                        <label for="textarea1">簡介</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="row">
            <div id="editor">
                <p>Hello World!</p>
                <p>Some initial <strong>bold</strong> text</p>
                <p><br></p>
            </div>
        </div>
        <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">發表
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>

</div>


<!-- Include the Quill library -->
<script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

<!-- Initialize Quill editor -->
<script>
    var quill = new Quill( '#editor', {
        theme: 'snow',
        modules: {
            toolbar: [
                [ { 'header': [ false, 1, 2, 3, 4, 5, 6 ] } ],
                [ 'bold', 'italic', 'underline', 'strike' ],        // toggled buttons
                [ 'blockquote', 'code-block' ],
                [ { 'list': 'ordered' }, { 'list': 'bullet' } ],
                [ { 'script': 'sub' }, { 'script': 'super' } ],      // superscript/subscript
                [ { 'indent': '-1' }, { 'indent': '+1' } ],          // outdent/indent
                [ { 'size': [ 'small', false, 'large', 'huge' ] } ],  // custom dropdown
                [ { 'color': [] }, { 'background': [] } ],          // dropdown with defaults from theme
                [ { 'font': [] } ],
                [ { 'align': [] } ],
                [ 'clean' ],
                [ 'image', 'code-block' ]
            ]
        }
    } );
</script>